/*interacción oferta y becas*/
.wrapper-becas{
    background-color: #f3f3f3;
    background-image: url(https://www.utpl.edu.ec/sites/default/files/img-fondo-circulos.png);
    background-size: cover!important;
    background-position: center!important;
    }
    
    .wrapper-oferta{
    background-color: #F4AB14; 
    }
    
    .wrapper-desplegables{
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    .wrapper-desplegables .section1{
    width: 25%;
    }
    .wrapper-desplegables .section1 > div > div{
    cursor: pointer;
    padding: 0.5em 0 0.5em 1.7em;
    text-transform: uppercase;
    font-size: 10pt;
    color: #003f72;
    font-weight: 700;
    transition: all 0.5s ease;
    border-radius: 0.5em;
    margin: 0.5em 0;
    }
    
    .wrapper-desplegables .section1  div.general{
    background-image: url(https://www.utpl.edu.ec/sites/default/files/arr.png);
    background-repeat: no-repeat;
    background-position-y: center;
    }
    
    .wrapper-desplegables .section1  div.distancia{
    background-image: url(https://www.utpl.edu.ec/sites/default/files/distancia-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    }
    .wrapper-desplegables .section1  div.presencial{
    background-image: url(https://www.utpl.edu.ec/sites/default/files/presencial-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    }
    .wrapper-desplegables .section1  div.linea{
    background-image: url(https://www.utpl.edu.ec/sites/default/files/enlinea-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    }
    .wrapper-desplegables .section1  div.selected{
    color: #2a9dff;
    margin-left: 1.5em;
    background-color: white;
    background-position-x: 5%;
    padding: 0.5em 0 0.5em 3em;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    }
    
    .desplegable-opciones h2{
    padding: 0.7em 0 0.3em;
    color: #505965;
    font-weight: 700;
    font-size: 14pt;
    }
    .desplegable-opciones h2:after{
    content: none;
    }
    .wrapper-desplegables .section2 {
    width: 72%;
    min-height: 530px;
    }
    .wrapper-desplegables .section2 > div{
    display: flex;
    flex-flow: wrap;
    align-content: baseline;
    justify-content: flex-start;
    
    }
    .wrapper-desplegables .section2 > div > div{
    width: 29%;
    background-color: white;
    margin: 0.3em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    }
    .wrapper-desplegables .section2 > div img{
    max-width: 5px;
    padding: 1px;
    }
    
    .desplegable-contenido a {
    font-weight: 700;
    padding: 0.3em 0 0.3em 0.6em;
    display: block;
    margin: 0.3em 0;
    width: 90%;
    margin: auto;
    }
    
    
    .desplegable-title{
    color: #505965;
    text-transform: uppercase;
    font-size: 11pt;
    margin: 0;
    margin-top: 1em;
    }
    .desplegable-title:after{
    content: none;
    }
    .movil-seleccione{
        display: none;
    }
    .presentacion-oferta-admision{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .enlaces-admision{
    margin-left: 40px;
    width: 415px;
    }
    .enlaces-admision a{
        display: block;
        border-bottom: 3px solid #003f72;
        margin-bottom: 1em;
        color: #003f72;
        text-transform: uppercase;
        font-size: 9pt;
        font-family: 'Montserrat', sans-serif;
        background-image: url(https://www.utpl.edu.ec/sites/default/files/arr.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position-y: center;
        padding: 5px 0 5px 15px;
    }
    .enlaces-admision a:hover{
    background-color: white;
    margin-left: 30px;
    }

    a, a:link, a:active {
        text-decoration: none;
        color: #4b71a1;
    }
    /*fin interacción oferta y becas*/
    